# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional yarn cache directory
.yarn-cache

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output files
dist/
build/
out/
*.exe
*.msi
*.jar

# OS-specific files
.DS_Store
Thumbs.db

*.env
